<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Hackathon_SimpleImageHelper>
            <version>1.0.0</version>
        </Hackathon_SimpleImageHelper>
    </modules>
    <global>
        <models>
            <hackathon_simpleimage>
                <class>Hackathon_SimpleImageHelper_Model</class>
            </hackathon_simpleimage>
        </models>
        <helpers>
            <hackathon_simpleimage>
                <class>Hackathon_SimpleImageHelper_Helper</class>
            </hackathon_simpleimage>
            <catalog>
                <rewrite>
                    <image>Hackathon_SimpleImageHelper_Helper_Image</image>
                </rewrite>
            </catalog>
        </helpers>
        <resources>
            <hackathon_simpleimage_setup>
                <setup>
                    <module>Hackathon_SimpleImageHelper</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </hackathon_simpleimage_setup>
        </resources>
        <events>
            <catalog_product_save_after>
                <observers>
                    <hackathon_simpleimage>
                        <type>singleton</type>
                        <class>hackathon_simpleimage/observer</class>
                        <method>getImages</method>
                    </hackathon_simpleimage>
                </observers>
            </catalog_product_save_after>
        </events>
    </global>
    <adminhtml>
        <events>
            <adminhtml_init_system_config>
                <observers>
                    <hackathon_simpleimage>
                        <class>hackathon_simpleimage/observer</class>
                        <method>initSystemConfig</method>
                    </hackathon_simpleimage>
                </observers>
            </adminhtml_init_system_config>
        </events>
    </adminhtml>
    <default>
        <catalog>
            <hackathon_simpleimage>
                <enabled>1</enabled>
                <sih_media_width>300</sih_media_width>
                <sih_media_height>0</sih_media_height>
                <sih_media_thumb_width>66</sih_media_thumb_width>
                <sih_media_thumb_height>0</sih_media_thumb_height>
                <sih_image_width>300</sih_image_width>
                <sih_image_height>0</sih_image_height>
                <sih_small_image_width>135</sih_small_image_width>
                <sih_small_image_height>0</sih_small_image_height>
                <sih_thumbnail_width>75</sih_thumbnail_width>
                <sih_thumbnail_height>0</sih_thumbnail_height>
            </hackathon_simpleimage>
        </catalog>
    </default>
</config>